<div class="bg-primary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">Edmundo Najera</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xl-8 offset-xl-2">
      <div class="card border-0 shadow">
        <img src="https://res.cloudinary.com/najeranet-cloud-images/image/upload/v1560602820/samples/landscapes/architecture-signs.jpg" alt="img-about" class="card-img-top">
        <div class="card-body text-center">
          <h5 class="cart-title mb-0">Edmundo Najera</h5>
          <div class="card-text text-black-50">Web Development</div>
        </div>
      </div>
    </div>
  </div>
</div>
