<div class="main">
  <div class="jumbotron j_main_index">
    <div class="row col-md-8 offset-md-2">
      <div class="center">
        <h2>
          Wolcome to my portfolio, my name is
          <span class="highlight">Edmundo Najera</span>
          and i have creative ideas to build your website.
        </h2>
        <%= link_to 'View my work', portfolio_path, class: "btn btn-outline-light btn-lg btn_work" %>
        <br>
      </div>
    </div>
  </div>
</div>
