// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Layout Application
.ic {
  max-width: 48px;
}

.my_nav {
  padding: 25px;
}

#list_icons {
  float: right;
  margin: 35px;
}

#list_icons li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  float: left;
}

// Welcome Page
.btn_work {
  float: right;
  margin: 35px;
}

.j_main_index {
  background: #2b2b2b;
  background-image: url("https://res.cloudinary.com/najeranet-cloud-images/image/upload/v1560602824/samples/landscapes/nature-mountains.jpg");
  background-position: center;
  color: #fff;
  height: 40%;
  width: 100%;
}

// -----------------------------

// Set a work css

// -----------------------------

.image-slider-wrapper {
  overflow: hidden;
}

#image_slider {
  position: relative;
  height: 280px;
  padding: 0;
}

#image_slider li {
  max-width: 100%;
  float: left;
  list-style: none;
}











//
