// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Layout Application

.my_nav {
  padding: 25px;
}

.social_media {
  float: right;
}

.social_media ul li {
  display: inline-block;
  float: right;

  width: 100%;
  height: 48px;
  margin: 48px 48px 48px 200px;
  padding: 0px 48px 48px 48px;
}

.github {
  list-style-type:none;
  list-style-image: url("icons/ic_gh.png");
}

.linkedin {
  list-style-type:none;
  list-style-image: url("icons/ic_ln.png");
}

.facebook {
  list-style-type:none;
  list-style-image: url("icons/ic_fb.png");
}

.footer {
  width: 100%;
  height: 275px;
  margin: 25px 0 15;

  background-color: #fff;
}
// Welcome Page
.btn_work {
  float: right;

  margin-top: 35px;
}

.j_main_index {
  background: #2b2b2b;
  background-image: url("https://res.cloudinary.com/najeranet-cloud-images/image/upload/v1560602818/samples/landscapes/girl-urban-view.jpg");
  background-position: center;
  color: #fff;
  height: 40%;
  width: 100%;
}











//
